<body class="center">

<div class="card">
<h2>Create Account</h2>

<input id="username" placeholder="Username">
<input id="password" type="password">

<button onclick="register()">Register</button>

<p>Already have account? <a href="/login-page">Login</a></p>
</div>

<script>
async function register(){
    const res = await fetch("/register", {
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body:JSON.stringify({
            username:username.value,
            password:password.value
        })
    })

    if(res.ok){
        location="/login-page"
    } else alert("Register failed")
    
    {% extends "base.html" %}
{% block content %}

<div class="center">
<div class="card">
<h2>Create Account</h2>

<input id="username" placeholder="Username">
<input id="password" type="password">

<button onclick="register()">Register</button>

<p><a href="/login-page">Login</a></p>
</div>
</div>

<script>
async function register(){
    const res = await fetch("/register", {
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body:JSON.stringify({
            username:username.value,
            password:password.value
        })
    })

    if(res.ok){
        location="/login-page"
    } else {
        alert("Register failed")
    }
}
</script>

{% endblock %}
}
</script>

</body>
